@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #f6f8fd;
  --secondary-color: #dc3545;
  --color-text: #231942;
  --navbar-color: #ffffff;
  --navbar-color-text: #000000;
  --bg-text: #b721ff;
  --border-gradient: #21d4fd;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Section Navbar */
.navbar {
  position: fixed;
  padding: 15px 0 15px 0;
  width: 100%;
  transition: all 0.25s ease-in-out;
  background: #b721ff;
  background: -webkit-linear-gradient(to left, #b721ff, #21d4fd);
  background: linear-gradient(to left, #b721ff, #21d4fd);
}

.navbar.color-active {
  padding: 10px 0 10px 0;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  box-shadow: 0 2px 25px 0 rgba(0, 158, 199, 0.6);
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.navbar .nav-link a {
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  transition: all 0.25s ease;
  font-weight: 500;
  color: var(--navbar-color-text);
  position: relative;
}

.navbar .nav-link a:hover {
  color: var(--primary-color);
}

.navbar .nav-link .active {
  color: var(--secondary-color);
  font-weight: 700;
}

.navbar .nav-link .active:hover {
  color: var(--navbar-color);
}

.navbar .nav-brand {
  color: var(--navbar-color-text);
}

.btn-outline-nav {
  border: 2px solid var(--border-gradient);
  color: var(--navbar-color-text) !important;
  font-weight: 500;
}

.btn-outline-nav:hover {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 50%) !important;
  border: 2px solid var(--border-gradient) !important;
  color: var(--navbar-color) !important;
}
/* End Section Navbar */

/* Section Header */

header {
  background: #b721ff;
  background: -webkit-linear-gradient(to left, #b721ff, #21d4fd);
  background: linear-gradient(to left, #b721ff, #21d4fd);
}

.homepage .hero-image {
  width: 100%;
}

.btn-promo {
  color: var(--navbar-color);
  border: 2px solid var(--border-gradient) !important;
  transition: all 0.25s ease-in-out;
}

.btn-promo:hover {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 50%) !important;
  border: 2px solid var(--border-gradient) !important;
  color: var(--primary-color) !important;
}

.homepage .kelas {
  background-color: var(--primary-color);
  padding-bottom: 50px;
}

.homepage .kelas .btn-next {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 50%);
  color: var(--navbar-color);
  border: 2px solid var(--border-gradient) !important;
  transition: all 0.25s ease-in-out !important;
}

.homepage .kelas .row:nth-child(1) {
  padding-top: 50px;
  padding-bottom: 50px;
}

.homepage .kelas .row:nth-child(1) h1,
.homepage .kelas .row:nth-child(1) p {
  color: var(--color-text);
}

.homepage .kelas .row:nth-child(2) {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.homepage .kelas .row .col {
  transition: transform 0.25s ease-in-out;
}

.homepage .kelas .row .col:hover {
  transform: scale(1.01);
}

.homepage .kelas .row:nth-child(2) .col {
  padding: 0;
  background-color: var(--navbar-color);
}
.homepage .kelas .row:nth-child(2) img {
  height: 300px;
}

.homepage .kelas .star:nth-child(2) {
  color: gold;
}

.homepage .kelas .row:nth-child(2) h5 {
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.5rem;
}

.homepage .kelas .row:nth-child(3) {
  padding-top: 50px;
}

/* Kelas-Page */
.kelas-page .kelas {
  background-color: var(--primary-color);
  padding-top: 100px;
  padding-bottom: 50px;
}

.kelas-page .kelas .row:nth-child(1) {
  padding-top: 50px;
  padding-bottom: 50px;
}

.kelas-page .kelas .row:nth-child(1) h1,
.homepage .kelas .row:nth-child(1) p {
  color: var(--color-text);
}

.kelas-page .kelas .row:nth-child(2) {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.kelas-page .kelas .row .col {
  transition: transform 0.25s ease-in-out;
}

.kelas-page .kelas .row .col:hover {
  transform: scale(1.01);
}

.kelas-page .kelas .row:nth-child(2) .col {
  padding: 0;
  background-color: var(--navbar-color);
}
.kelas-page .kelas .row:nth-child(2) img {
  height: 300px;
}

.kelas-page .kelas .star:nth-child(2) {
  color: gold;
}

.kelas-page .kelas .row:nth-child(2) h5 {
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.5rem;
}

.kelas-page .kelas .row:nth-child(3) {
  padding-top: 50px;
}

.homepage .testimonials {
  background-color: var(--primary-color);
}

.homepage .testimonials h1 {
  color: var(--color-text);
}

.homepage .testimonials .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.homepage .testimonials .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.homepage .testimonials .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage .testimonials .swiper-slide:active {
  cursor: grabbing;
}

.homepage .testimonials .swiper-slide .desc {
  font-size: 1rem;
  text-align: justify;
}

.homepage .testimonials .swiper-slide .card-footer h5 {
  font-size: 1rem;
}

.homepage .testimonials .swiper-slide .card-footer p {
  font-size: 0.8rem;
}

.homepage .testimonials .swiper-slide .card .card-footer {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.homepage .testimonials .swiper-slide .card .card-footer img {
  width: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.faq .accordion .accordion-button {
  font-weight: bold;
  line-height: 1.5;
  border: 1px solid #c9c8c8;
  border-radius: 6px;
}

.faq .accordion .accordion-button:focus {
  box-shadow: none;
  border: none;
}

.footer {
  font-weight: normal;
}
/* End Section Header */

/* FAQ Page */
.faqPage {
  background-color: var(--primary-color);
  padding-top: 100px;
  padding-bottom: 50px;
}

/* Section Kelas */
.kelas {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.kelas .row:nth-child(1) {
  padding-top: 50px;
  padding-bottom: 50px;
}

.kelas .row:nth-child(1) h1,
.kelas .row:nth-child(1) p {
  color: var(--color-text);
}

.kelas .row:nth-child(2) {
  display: grid;
  gap: 15px;
  padding-bottom: 50px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.kelas .row .col {
  transition: transform 0.25s ease-in-out !important;
}

.kelas .row .col:hover {
  transform: scale(1.01) !important;
}

.kelas .row:nth-child(2) .col {
  padding: 0;
  background-color: var(--navbar-color);
}
.kelas .row:nth-child(2) img {
  height: 300px;
}

.kelas .star:nth-child(2) {
  color: gold;
}

.kelas .row:nth-child(2) h5 {
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.5rem;
}

.kelas .row:nth-child(3) {
  padding-top: 50px;
}

/* Testimonial Page */
.testimonial-page {
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: var(--primary-color);
}

.testimonial-page .testimonial .row:nth-child(1) h1 {
  color: var(--color-text);
}

.testimonial-page .testimonial .people {
  display: flex;
  align-items: center;
  width: 450px;
  gap: 25px;
  max-width: 100%;
}

.testimonial-page .testimonial .desc {
  font-size: 1rem;
}

.testimonial-page .testimonial .people h5 {
  font-size: 1rem;
}

.testimonial-page .testimonial .people p {
  font-size: 0.8rem;
}

.testimonial-page .testimonial .people img {
  width: 50px;
  border-radius: 100%;
}

/* Section Syarat & Ketentuan */

.syaratK {
  background-color: var(--primary-color);
  padding-top: 150px;
  padding-bottom: 50px;
}

/* Media Screen max-width 992px */

@media screen and (max-width: 992px) {
  .navbar {
    padding: 10px 0 10px 0;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 70%);
    box-shadow: 0 2px 25px 0 rgba(0, 158, 199, 0.6);
    z-index: 1000;
    backdrop-filter: blur(8px);
    transition: all 0.3s ease-in-out;
  }

  .navbar.color-active {
    padding: 10px 0 10px 0;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    box-shadow: 0 2px 25px 0 rgba(0, 158, 199, 0.6);
    z-index: 1000;
    backdrop-filter: blur(8px);
  }

  .homepage .header-box {
    padding-top: 6rem;
  }

  .homepage .header-box img {
    width: 400px;
    display: block;
    margin-inline: auto;
  }

  .testimonial-page .testimonial .desc {
    font-size: 0.8rem;
  }
}

/* Media screen max-width 575px */
@media screen and (max-width: 575px) {
  .homepage .header-box h1 {
    font-size: 2rem;
  }
  .homepage .header-box button {
    font-size: 1.2rem;
  }
  .testimonial-page .testimonial .desc {
    font-size: 0.8rem;
  }
  .faq .accordion .accordion-button {
    font-size: 0.9rem;
  }
}

/* Media screen max-width 475px */
@media screen and (max-width: 475px) {
  .homepage.header-box h1 {
    font-size: 2.4rem;
  }
  .homepage .header-box p {
    font-size: 1.2rem;
  }
  .homepage .header-box img {
    width: 300px;
  }
  .homepage .header-box button {
    font-size: 1rem;
  }
  .testimonial-page .testimonial .desc {
    font-size: 0.8rem;
  }
}

/* Media screen max-width 375px */
@media screen and (max-width: 375px) {
  .homepage .header-box h1 {
    font-size: 1.8rem;
  }
  .homepage .header-box p {
    font-size: 1rem;
  }
  .homepage .header-box img {
    width: 200px;
  }
  .homepage .header-box button {
    font-size: 0.8rem;
  }
  .testimonial-page .testimonial .desc {
    font-size: 0.8rem;
  }
}
